* {

    background:none;
    font-family: sans-serif;
    color: #333;
    line-height: 120%;
}

p {

    color: #333;
    font-size: 1em;
}

html {
    background: url(img/bg.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-attachment: fixed;
    }

h1 {

    color:white;
    font-weight: lighter;
    font-variant: small-caps;    
    font-size: 400%;
    text-align: center;
    
}

h2 {

    font-family: 'Courier New', Courier, monospace;
    color: white;
    font-weight: lighter;
}

h3 {

    color:brown;
    font-weight: normal;
    font-variant: small-caps;    
    font-size: 150%;
}

nav ul {

    list-style: none;
}

nav ul li a{

    color:black;
    text-transform: lowercase;
    text-decoration: none;
}


.grid-container {
	display: grid;
    background: none;
	width: 50%;
    gap: 0,5em;
	grid-template-columns:50% 50%;
	grid-template-rows: auto auto;
	padding: 1em;
	margin: 0 auto;
  }
  
  .grid-container > div {
	background-color: #fff;
	text-align: justify;
	padding: 5px 20px 20px;
	font-size: 15px;
    border-radius: 18px;
    border: 1px solid black;
    width: 25em;
    height: 30em;
    box-shadow: 3px 5px 5px #1a1a1a;
  }

  .rec_img {

    width: 50%;
  }



a.class1:link{

    color: #333;
    text-decoration: none;
    border: 1px solid #333;
    padding: 7px 7px 7px 7px;

}


a.class1:visited
{
    color: #333;
text-decoration:none;
}
a.class1:hover
{
    color:gray;
font-weight:lighter;
padding: 5px 5px 5px 5px;
font-size: 15px;
padding: 5px 20px 5px 5px;
border: 1px solid grey;


}

 